/* #region global */

/* este link é para importar uma font do google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400;1,600&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* essas fontes comentadas são para eu copiar e colar quando eu for usá-las */
    /* font-family: 'Anton', sans-serif;
    font-family: 'Exo', sans-serif;
    font-family: 'Inter', sans-serif; */

*{
    font-size: 20px;
}

/* aqui eu ja deixei todos os h2, h3, h4, a e os botões com a mesma estilização para nao precisa mudar 1 por 1 depois*/
h2,h3,h4,a,button{
    color: #c66600;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

/* esse tag body eu usei para mudar a cor de todo o site */
body{
    background-color: #ffffff;
}

/* aqui foi uma estiização do site em geral no qual eu defini a largura maxima que o site pode ocupar, a margin e a font que seria aplicada para todas as classes que tivessem esse .site */
.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
}
  /* #endregion global */

/* #region topo*/

/* aqui foi para deixar os elementos do topo um do lado do outro, com espaçamento e para alinhas os itens no centro na vertical */
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-fixo{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    animation: fadeIn 2s ease-in-out;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.topo nav ul{
    display: flex;
} 

/* no H1 eu usei uma imagem para melhorar o mecanismo de busca */
.topo h1{
    background: url(../img/logo01.svg) no-repeat;
    width:300px;
    height: 52px;
    text-indent: -9999px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 10px 40px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    border-radius: 10px 10px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

.menu a:hover{
    background-color: #999999;
}

.ativo{
    color: #cb6600 !important;
}

/* aqui foi para estilizar as redes sociais, pois eu paguei os nomes e coloquei preto e branco e ao passar o mouse elas ficam coloridas das redes sociais */
.redeSocialTopo a{
    text-decoration: none;
    padding: 10px 18px;
    background: rgb(209, 87, 87);
   border-radius: 20px;
   color: aliceblue;
   display: block;
   text-indent: -9999px;
   margin-right: 15px;
}

.redeSocialTopo{
    text-align: center;
}

.redeSocialTopo a:hover{
    background-color: rgb(56, 51, 51);
}

.redeSocialTopo ul{
    display: flex;
    text-align: cen;
}

.redeSocialTopo button{
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    border-radius: 8px;
    padding: 5px 20px;
    margin-bottom: 10;
    font-size: 15px;
    margin-top: 10px;
}

.redeSocialTopo button:hover{
    background-color: #000000;
}

.redeSocialTopo ul li:nth-child(1) a{
    background: url(../img/redeSocial/facepreto.svg) no-repeat;
}

.redeSocialTopo ul li:nth-child(1) a:hover{
    background: url(../img/redeSocial/facebook.svg) no-repeat;
}

.redeSocialTopo ul li:nth-child(2) a{
    background: url(../img/redeSocial/instaPreto.svg) no-repeat;
}

.redeSocialTopo ul li:nth-child(2) a:hover{
    background: url(../img/redeSocial/instagram.svg) no-repeat;
}

.redeSocialTopo ul li:nth-child(3) a{
    background: url(../img/redeSocial/WhatsPreto.svg) no-repeat;
}

.redeSocialTopo ul li:nth-child(3) a:hover{
    background: url(../img/redeSocial/WhatsVerde.svg) no-repeat;
}
.redeSocialTopo ul li:last-child a{
    margin-right: 0;
}

.redeSocialTopo{
    margin-bottom: 40px;
}
/* #endregion topo*/

/* #region banner*/

/* aqui eu especifiquei para o bannner pegar 100% da largura */
.banner img{
    width: 100%;
}

/* daqui para baixo eu estilizei a parte do carrosel como as setinhas e os dots */
.banner .slick-next {
    right: 40px;
}

.banner .slick-prev:before, .banner .slick-next:before{
    font-size: 30px;
    color: #c66600;
}

.banner .slick-prev{
    left: 25px;
    z-index: 1;
}

.banner .slick-dots{
    bottom: 25px;
}

.banner .slick-dots li button:before{
    color: #c66600;
    font-size: 30px;
}

.banner .slick-dots li .slick-active button:before{
    opacity: .75;
    color: #5d3002;
}
.banner .slick-dots li{
    margin: 0 15px;
}
/* #endregion banner */

/* #region sobre*/

/* coloquei para toda a section da parte do sobre pegar um espaçamento de 50px de cima e de baixo */
.sobre{
    padding: 50px 0;
}

.sobre div{
    display: flex;
    justify-content: space-around;
}

/* deixei a div em coluna, defini a largura e coloquei o conteúdo no começo na vertical */
.sobre div div{
    flex-direction: column;
    width: 45%;
    justify-content: flex-start;
    
}

/* aqui eu coloquei um pseudo-elemento para chamar somente  o 1° filho */
.sobre div div:nth-child(1){
    justify-content: flex-start;
    border: solid 1px #333;
    border-radius: 30px;
    padding: 0 20px;
}

/* aqui eu estilizei os botão */
.sobre div button{
    margin-bottom: 20px;
    align-self: flex-end;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px 15px;
    border: solid 1px black;
    font-weight: bold;
    padding: 8px 12px;
    
}

/* estilizei o botão ao passar o mouse */
.sobre button:hover{
    background-color: #000000;
    border: none;
}

/* coloquei o H2 no centro, margem do topo, um peso para a fonte ficar escura, aumentei o tamanhoo da fonte, deixei todas as letras maiusculas, margem para baixo e um espaçamento entre as letras */
.sobre div h2{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

/* coloquei para o texto ficar justificado, coloquei tamanho para o parágrafo, altura da linha e dei um flex glow (espaçamento) para o botão pegar distância do parágrafo */
.sobre p{
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    flex-grow: 1;
}

/* coloquei a imagem para ocupar 100% da largura da tela, uma borda e o arredondamento das bordas */
.sobre img{
    width: 100%;
    border: solid 1px rgb(59,255,5);
    border-radius: 5px 15px;
}
/* #endregion sobre */

/* #region serviço */

/* esta classe pega toda a parte de serviço por isso eu coloquei a imagem nela */
.siteserv{
    padding: 50px 0;
    text-align: center;
    background: url(../img/fundoservicoopacidade.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

/* coloquei um estilo para o H2 do serviço */
.siteserv h2{
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 3px;
}

/* coloquei para eles ficarem um ao lado do outro */
.servico{
    display: flex;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
}

/* aqui eu estilizei as divs diretamente */
.servico div{
    margin: 2%;
    width: 30%;  
    text-align: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
}

/* estilizei o H2 de todas as divs */
.servico div h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* coloquei estilo para os parágrafos dentro das divs */
.servico div p{
    margin-bottom: 70px;
}

/* dei uma margem para a imagem */
.servico img{
    margin:  20px 10px;
}

/* estilizei os botões das divs */
.servico div button{
    cursor: pointer;
    border-radius: 10px;
    float: right;
    font-size: 16px;
    background-color: #cb6600;
    color: #ffffff;
    padding: 7px 10px;
    border: none;
}

/* #endregion serviço */

/* #region galeria */

/* dei um arredondamento de borda de 20px para todas as imagens, margem de 30px para cime e baixo e coloqeui para ela ocuparem 75% da largura */
.galeria img{
    border-radius: 20px;
    margin: 30px 0;
    width: 75% !important;
}

/* peguei somente a primeira imagem e deu uma margem de 45px da esquerda */
.galeria img:nth-child(1){
    margin-left: 45px;
}

/* daqui para baixo eu estilizei as setas do carrosel */
.galeria .slick-next {
    right: 20px;
}

.slick-next:before {
    content: '→';
    color: #c66600;
    font-size: 30px;
}

.galeria .slick-prev:before, .banner .slick-next:before{
    font-size: 30px;   
    color: #c66600;
}

.galeria .slick-prev{
    left: 10px;
    z-index: 1;
}
/* #endregion galeria */

/* #region depoimentos */

/* coloquei uma imagem de fundo nessa classe que abrange toda a seção de depoimento */
.depoimento{
    background: url(../img/fundoservicoopacidade.png) no-repeat center;
    background-attachment: fixed;
}

/* estilizei o H2 do depoimento */
.depoimento h2{
    font-weight: bold;
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* deixei todo o conteúdo do depoimento um lado do outro */
.cont-depoimento{
    display: flex;
}

/* dei um arredondamento de borda de 20px e dei uma margem de 50px para baixo */
.cont-depoimento img{
    border-radius: 20px;
    margin-bottom: 50px;
}

/* criei essa classe para estilizar a parte que iria ter o carrosel do depoimento*/
.slideDepo{
    text-align: center;
    border: solid 1px #000000;
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 20px;
    height: 300px;
    padding: 30px 50px 30px 50px;
    width: 60%;
}

/* tirei as bordas da imgem, deixei ele em linha e dei uma margem de 20px para baixo */
.slideDepo img{
    border: none;
    display: inline;
    margin-bottom: 20px;
}

/* daqui para baixo eu estilizei as setas do carrosel */
.slideDepo .slick-next {
    right: 20px;
}

.slick-next:before {
    content: '→';
    color: #c66600;
    font-size: 30px;
}

.slideDepo .slick-prev:before, .banner .slick-next:before{
    font-size: 30px;   
    color: #c66600;
}

.slideDepo .slick-prev{
    left: 10px;
    z-index: 1;
}

/* essa classe eu criei para chamar especificamente a parte da data e do nome do depoimento */
.dataNome{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
/* #endregion depoimentos */

/* #region blog */

/* estilizei o H2 (título principal do blog) */
.blog h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* coloquei o conteúdo do blog um do lado do outro e alinhei o texto no centro */
.cont-blog{
    display: flex;
    text-align: center;
    padding: 10px 10px;
    margin: 0 30px;
}

/* aqui eu chamei as divs do blog */
.cont-blog div{
    padding: 10px 10px;
    margin: 0 30px;
    background-color: #333;
}

/* estilizei os títulos dentro das divs */
.cont-blog h3{
    font-size: 25px;
    margin: 15px 0;
}

/* estilizei todos os parágrafos do blog */
.cont-blog p{
    margin-top: 20px;
    color: #ffffff;
}


/* aqui eu estilizei os botões dentro das divs */
.cont-blog button{
    margin-left: 190px;
    margin-bottom: 5px;
    margin-top: 80px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    background-color: #cb6600;
    color: #ffffff;
    padding: 7px 10px;
    border: none;
}
/* #endregion blog */

/* #region rodapé */

/* dei um espaçamento de 50px para todos os lados */
.rodape{
    padding: 50px;
}

/* criei essa classe para deixar a imagem pegando todo o fundo do rodapé */
.imgRoda{
    background-image: url(../img/fundoservicoopacidade.png);
    background-attachment: fixed;
    min-height: 500px;
}

/* essa classe pega todo o conteúdo do rodapé, deixei um ao lado do outro, alinhei os itens ao centro, dei um espaçamento igual entre eles e uma margem de 20px para cima*/
.cont-roda{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Anton', sans-serif;
    margin-top: 20px;
}

/* aqui eu chamei somente a primeira caixa do rodapé */
.caixa1-roda{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 45%;
    padding: 20px;
    line-height: 40px;
    height: 375px;
}

/* aqui eu chamei o título da primeira caixa do rodapé */
.caixa1-roda h2{
    font-size: 25px;
    text-transform: uppercase;
}

/* aqui eu estilizei os H3 da primeira caixa */
.caixa1-roda h3{
    color: rgb(70, 70, 70);
}

/* estilizei a imagem da primeira caixa */
.caixa1-roda img{
    margin-top: 15px;
    height: 60px;
}

/* coloquei um estilo para a lista não ordenada */
.caixa1-roda ul{
    justify-content: center;
    display: flex;
    
}

/* aqui eu estiizei os links diretamente neles */
.caixa1-roda a{
    text-decoration: none;
    color: rgb(70, 70, 70);
    flex-wrap: wrap;
}

/* aqui eu estilizei os links ao passar o mouse */
.caixa1-roda a:hover{
    color: #c66600;
}

/* aqui eu estilizei os links da parte de rede social da primeira caixa */
.caixa1-roda ul li a{
    text-decoration: none;
    padding: 10px 18px;
    background: rgb(209, 87, 87);
   border-radius: 20px;
   color: aliceblue;
   display: block;
   text-indent: -9999px;
    margin-right: 15px;
    margin-left: 20px;
}

/* coloquei uma imagem a invés de um link no Facebook */
.caixa1-roda ul li:nth-child(1) a{
    background: url(../img/redeSocial/facebook.svg) no-repeat;
}

/* coloquei uma imagem a invés de um link no Instagram */
.caixa1-roda ul li:nth-child(2) a{
    background: url(../img/redeSocial/instagram.svg) no-repeat;
}

/* coloquei uma imagem a invés de um link no WhatsApp */
.caixa1-roda ul li:nth-child(3) a{
    background: url(../img/redeSocial/WhatsVerde.svg) no-repeat;
}

/* dei um estilo para todo o texto da segunda caixa ficar no centro, uma cor de fundo para ele, um espaçamento de 20px para todos os lados, uma largura de 45% de toda a largura e uma altura de 375px */
.caixa2-roda{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 45%;
    padding: 20px;
    line-height: 30px;
    height: 375px;
}

/* aqui eu estilizei o título principal da segunda caixa */
.caixa2-roda h2{
    font-size: 25px;
    text-transform: uppercase;
}

/* estilizei os links da segunda caixa */
.caixa2-roda ul li a{
    text-decoration: none;
    color: rgb(70, 70, 70);
    margin: 15px 0;
    display: block;

}

/* aqui eu estilizei como ficaria os links ao passar o mouse da segunda caixa */
.caixa2-roda ul li a:hover{
    color: #c66600;
}
/* #endregion rodapé */

/* #region direitos reservados */

/* aqui eu estilizei o H2 do direitos reservados  */
.direitosReservados h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: rgb(70, 70, 70);
}

/* aqui eu estilizei o H2 da parte de desenvolvido por mim */
.desenvolvido h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #ffffff;
    background-color: grey;
    height: 50px;
}
/* #endregion rodapé */



/* #region PHP */

/* #region página contato PHP */
.form{
    padding: 50px 0;
    text-align: center;
    background-color: #f2f2f2;
}

.form h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

.form form{
    display: flex;
    justify-content: space-around;
    padding: 2.5%;
    border: solid 1px #333;
    border-radius: 25px;
}

.form form div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input, .form textarea{
    width: 98%;
    padding: 2% 0;
    margin-bottom: 5%;
    background-color: #fff;
    color: #c66600;
    font-size: 1em;
    font-weight: 500;
    border: solid 1px #333;
    text-indent: 10px;
}

.form textarea{
    resize: none;
    height: 175px;
}

.form form div:nth-child(2) div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 98%;
}

.form input::placeholder, .form textarea::placeholder{
    color: #c66600;
    font-size: 1em;
    text-indent: 10px;
}

.form form input[type=submit], .form form button{
    width: 45%;
    color: #333;
    background-color: #c66600;
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    border: solid 1px #333;
}

.form form input[type=submit]:hover, .form form button:hover{
    background-color: #333;
    color: #c66600;
}

/* #endregion página contato PHP */

/* #endregion PHP */



/* daqui pra cima é 1200px para PC */


/* ############################################################################################################# */


/* #region responsive */


/* nesta parte do responsivo eu apenas peguei oque já estava feito e fui "compactando" para celular, tablet e notebook */


/* 601 até 900px para not - INICIO*/
@media (max-width: 900px){
/* #region responsive topo */
.topo{
    flex-direction: column;
}

.topo div nav{
    display: flex;
    align-items: center;
} 

.topo h1{
    margin: 5% 0;
}
/* #endregion responsive topo */

/* #region responsive sobre */
.sobre p{
    text-align: justify;
    font-size: 20px;
    line-height: 22px;
    flex-grow: 1;
}
/* #endregion responsive topo */

/*#region responsive serviço */
.servico div{
    margin: auto;
    width: 25%;
}

.servico img{
    width: 100%;
    margin: 20px auto;
}
/* #endregion responsive serviços */

/* #region responsive depoimento */
.cont-depoimento{
    justify-content: space-around;
}
.cont-depoimento img{
    margin-left: 4%;
}

.slick-dots{
    display: none;
}

.slideDepo{
    width: 55%;
}
/* #endregion responsive depoimento */

/* #region responsive blog */
.cont-blog div{
    width: 25%;
    margin: 20px auto;
}

.cont-blog img{
    width: 100%;
}

.cont-blog button{
    margin-left: 0;
}
/* #endregion responsive blog */

/* #region responsive rodape */
.rodape{
    padding: 0;
}

.caixa1-roda{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding: 20px;
    line-height: 40px;
    height: 375px;
    margin-top: 5%;
}

.caixa2-roda{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding: 20px;
    line-height: 30px;
    height: 375px;
    margin-top: 5%;
}
/* #endregion responsive rodape */
}

/* 601 até 900px para not - FIM*/

@media not all and (max-width: 600px){
    .abrir-menu, .fechar-menu{
        display: none;
    }
}

/* ############################################################################################################ */


/* 0 a 600px para celular - INICIO */
@media (max-width: 600px){ 
/* #region reponsive sobre*/
    .topo{
    justify-content: space-around;
    margin-top: 5%;
    flex-direction: row;
    }

    .topo div nav{
        align-items: start;
        flex-direction: column;
    }

    .menu{
        background-color: rgba(76, 76, 76, 0.95);
        height: 100%;
        position: fixed;
        margin: 0;
        top: 0;
        right: -350px;
        max-width: 350px;
        width: 50%;
        z-index: 9;    
        transition: right .6s ease-out;                     
    }

    .menu ul{
        flex-direction: column;
    }

    .menu ul li{
        margin: 5% 0;
    }

    .menu a{
        color: #f2f2f2;
        letter-spacing: 3px;    
    }

    .abrir-menu{
        background: url(../img/btn-menu.png);
        background-size: cover;
        display: block;
        padding: 20px;
        border: 0;
    }

    .fechar-menu{
        background: url(../img/btn-fechar.png);
        background-size: cover;
        display: block;
        padding: 20px;
        border: 0;
        margin: 5%;
    }
    
    .menu-ativo .menu{
        right: 0;
    }

    .redeSocialTopo{
        margin-top: 15%;
    }

    .redeSocialTopo ul{
        flex-direction: row;
        justify-content: center;
    }

    .redeSocialTopo a{
        padding: 12px 25px;
    }
    
    .banner{
        display: none;
    }

    .sobre div{
        flex-direction: column;
        align-items: center;
    }
    
    .sobre div div{
        width: 90%;
        margin-bottom: 5%;
        justify-content: flex-start;
    }

    .sobre div:nth-child(2){
        width: 90%;
        border: solid 1px rgb(59,255,5);
        border-radius: 10px 10px;
        order: -1;
    }

    .sobre p{
        text-align: justify;
        font-size: 18px;
        line-height: 35px;
        flex-grow: 1;
    }
    /* #endregion reponsive sobre*/

/* #region responsive serviços */
    .siteserv{
        padding: 50px 0;
        text-align: center;
        background: url(../img/fundoservicoopacidade.png) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 500px;
    }

    .servico{
        flex-direction: column;
        align-items: center;
    }
    
    .servico div{
        width: 85%;
        margin-bottom: 5%;
        background-color: #ffffff;
    }
    
    .servico img{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    
    .servico div p{
        text-align: justify;
        margin-bottom: 90px;
        font-size: 17px;
        color: rgb(0, 0, 0);
    }

/* #endregion responsive serviços */

/* #region responsive galeria */
.galeria img{
    border-radius: 20px;
    margin: 30px 0;
    width: 70% !important;
}

.galeria img:nth-child(1){
    margin-left: 15%;
}

.galeria .slick-next {
    right: 20px;
}

.slick-next:before {
    content: '→';
    color: #c66600;
    font-size: 25px;
}

.galeria .slick-prev:before, .banner .slick-next:before{
    font-size: 30px;   
    color: #c66600;
}

.galeria .slick-prev{
    left: 10px;
    z-index: 1;
}

/* #endregion responsive galeria */

/* #region responsive depoimento */

.cont-depoimento{
    flex-direction: column;
    align-items: center;
}

.cont-depoimento img{
    border-radius: 20px;
    margin-bottom: 50px;
}

.slideDepo{
    text-align: center;
    border: solid 1px #000000;
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 20px;
    height: 300px;
    padding: 30px 50px 30px 50px;
    width: 80%;
}

.slideDepo p{
    font-size: 90%
};

.slideDepo img{
    border: none;
    display: inline;
    margin-bottom: 20px;
}

.slideDepo .slick-next {
    right: 20px;
}

.slick-next:before {
    content: '→';
    color: #c66600;
    font-size: 30px;
}

.slideDepo .slick-prev:before, .banner .slick-next:before{
    font-size: 30px;   
    color: #c66600;
}

.slideDepo .slick-prev{
    left: 10px;
    z-index: 1;
}

.dataNome{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
/* #endregion responsive depoimento */

/* #region responsive blog */

.blog h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.cont-blog{
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    margin: 0 30px;
}

.blog img{
    width: 90%;
}

.cont-blog div{
    width: 75%;
    padding: 10px 10px;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: #333;
}

.cont-blog p{
    margin-top: 20px;
    color: #ffffff;
}

.cont-blog button{
    margin-left: 0;
}

/* #endregion responsive blog */

/* #region responsive rodapé */

.rodape{
    padding: 0;
}

.cont-roda{
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    font-family: 'Anton', sans-serif;
    margin-top: 20px;
}

.caixa1-roda{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    line-height: 40px;
    height: 375px;
}

.caixa2-roda{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-bottom: 5%;
    padding: 20px;
    line-height: 30px;
    height: 375px;
}
/* #endregion responsive rodapé */

/* #region responsive direitos reservados */
.direitosReservados h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: rgb(70, 70, 70);
}

.desenvolvido h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #ffffff;
    background-color: grey;
    height: 50px;
}

/* #endregion responsive direitos reservados */
}
/* 601 a 900px para celular - FIM */

/* #endregion responsive */