 /* th, td{
    border: 1px solid #333;
} */

caption{
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

th{
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    padding: 20px;
}

td{
    text-align: center;
    background-color: rgb(247, 247, 247);
}

a{
    text-decoration: none;
    color: black;
}

.btn-desativar{
    background-color: red;
    transition: .3s;
}

.btn-desativar:hover{
    background-color: rgb(255, 81, 81);
}

.btn-atualizar{
    background-color: rgb(0, 255, 21);
    transition: .3s;
}

.btn-atualizar:hover{
    background-color: rgb(111, 255, 123);
}